.box-auth {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    margin: 200px auto 0;
    padding: 20px 40px 30px;
    border: 1px solid var(--vt-c-gray);
    border-radius: 10px;
    box-shadow: var(--vt-box-shadow-1);
    background-color: var(--vt-c-white);

    .back-to-home {
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: 18px;
        cursor: pointer;
    }

    .title {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-auth {
        @extend .flex-center;
        flex-direction: column;

        .ant-form-item {
            width: 100%;

            &:nth-child(3) {
                margin-bottom: 5px;
            }

            .ant-form-item-row {
                flex-direction: row;
            }

            .ant-select {
                width: 100% !important;
            }
        }

        .ant-btn-link {
            text-align: end;
            width: 100%;
            padding: 0;
            height: auto;
        }
    }

    @include media(mobile) {
        width: 85%;
        margin-top: 150px;
        padding: 10px 30px 20px;

        .title {
            margin-bottom: 15px;
        }
    }

    @include media(mobile-custom) {
        width: 95%;

        .ant-form-item {
            margin-bottom: 10px;

            &:nth-child(2) {
                margin-bottom: 5px;
            }
        }
    }
}
