@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    font-family: 'Noto Sans JP';
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

body {
    line-height: 1.6;
    font-family: 'Noto Sans JP';
    font-size: 15px;
    position: relative;
    padding: 0;
    margin: 0;
}

* {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--vt-c-main-gray-v1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--vt-c-main-gray-v2);
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-width-pc);

    @include media(mobile) {
        max-width: 95%;
    }
}

.box {
    .title-page {
        margin-bottom: 20px;
        font-weight: bold;
    }
}
