.flex-center {
    @include center_flex;
}

.flex-center-between {
    @include center_flex(center, space-between);
}

.flex-center-start {
    @include center_flex(center, start);
}

.flex-start-between {
    @include center_flex(start, space-between);
}

.flex-start {
    @include center_flex(start, start);
}

.hidden {
    display: none;
}

.no-border {
    border: unset;
}

.center {
    text-align: center;
}

.border-input-form {
    border-radius: 5px;
    border: 1px solid var(--vt-c-gray-v5);
}

.box-item {
    cursor: pointer;
    border-radius: var(--vt-br-box);
    border: 1px solid transparent;
    background-color: var(--bg-box-item);
    transition: all 0.3s linear;

    &:hover {
        border-color: var(--vt-c-main);
        background-color: var(--vt-c-white);
        box-shadow: var(--vt-box-shadow-box);
    }
}

.box-title {
    color: var(--vt-c-white);
    background: var(--bg-head-linear);
}

.w-full {
    width: 100%;
}
