.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 60px;
    background-color: var(--bg-main-home);

    .header-logo {
        color: var(--vt-c-white);
    }

    .header-menu {
        @extend .flex-center-between;

        &.ant-menu-light {
            background-color: transparent !important;
        }

        .ant-menu-item {
            text-overflow: unset;
            margin: 0;
        }

        .ant-menu-item-selected {
            background-color: transparent !important;
        }

        span {
            position: relative;
            padding: 8px;
            margin: 0 10px;
            @include text-style(var(--vt-c-white), 16px, 700);
            text-transform: uppercase;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: var(--vt-c-main);
                transition: all 0.3s linear;
            }

            &:hover {
                cursor: pointer;
                color: var(--vt-c-main);
                opacity: 0.9;

                &::before {
                    width: 100%;
                    transform: translate(-50%, 0);
                }
            }
        }
    }

    .header-auth {
        width: 100px;
        color: var(--vt-c-white);
        cursor: pointer;

        .avatar {
            width: 30px;
            height: 30px;
        }
    }

    @include media(mobile) {
        .header-logo {
            display: none;
        }

        .header-menu {
            display: none;
        }
    }
}

.footer {
    background-color: var(--bg-main-home);
    padding: 50px 100px;
    color: var(--vt-c-white);

    .footer-logo {
        margin-bottom: 10px;
    }

    .detail {
        line-break: anywhere;
        line-height: inherit;
    }

    @include media(mobile) {
        flex-direction: column;
        padding: 25px 40px;
    }
}

.ant-layout-body {
    &:has(.header) {
        .ant-layout-content {
            margin-top: 80px;
        }
    }

    .header-manager {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 2px 20px;
        background-color: var(--vt-c-white);
        border-bottom: 1px solid #dedcdc;

        .logo {
            width: 100px;
        }

        .anticon {
            margin: 0 20px;

            svg {
                font-size: 21px;
            }
        }
    }
}

.content-manager {
    min-height: 100%;
    @include center_flex(stretch, space-between);

    #sidebar {
        width: fit-content;
        min-height: calc(100vh - 50px);
        padding-top: 10px;
        position: relative;
        background-color: var(--vt-c-white);
        border-inline-end: 1px solid #dedcdc;

        .logo {
            text-align: center;
            img {
                width: 150px;
                transition: width 0.3s linear;
            }
        }

        .btn-collapsed {
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 1;
            padding: 2px 8px;
            transform: translate(-50%);

            svg {
                font-size: 14px;
            }
        }

        &:has(.sidebar-menu.sp) {
            padding-top: 0;
            .logo {
                height: 0;
                img {
                    width: 0;
                }
            }
        }

        .sidebar-menu {
            width: 215px;
            padding: 10px 12px 15px;
            transition: all 0.3s linear;

            .ant-menu-item {
                margin: 0 0 8px;

                &:hover,
                &.ant-menu-item-active {
                    color: var(--vt-c-white) !important;
                    background-color: var(--vt-c-primary) !important;
                }
            }

            .ant-menu-submenu {
                .ant-menu-submenu-title {
                    margin: 0;
                }

                .ant-menu-item {
                    padding-left: 35px !important;
                }
            }

            .ant-menu-item-icon {
                vertical-align: middle;
            }

            &.sp {
                padding: 20px 0;
                width: 80px;

                .ant-menu-item,
                .ant-menu-submenu-title {
                    justify-content: center;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin: 0 auto 8px;

                    text-align: center;
                }

                .ant-menu-title-content {
                    display: none !important;
                }
            }
        }
    }

    .ant-layout-content {
        padding: 15px 15px 15px 20px;
        background-color: var(--bg-main-admin);
    }
}

.box {
    border-radius: 10px;
    padding: 20px 25px;
    overflow: hidden;
    position: relative;
    background-color: var(--vt-c-white);

    &.no-border {
        border: none;
    }

    &.no-radius {
        border-radius: 0;
    }

    &.box-search {
        margin-bottom: 10px;

        .ant-form {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .ant-form-item {
                width: auto;
                margin-right: 10px;
                margin-bottom: 0;

                .ant-input-affix-wrapper {
                    width: 400px;
                }

                .ant-select {
                    width: 120px;
                }
            }

            .ant-space {
                width: 100%;
                margin-top: 15px;

                .ant-btn-link {
                    background-color: var(--vt-c-gray-v2);
                    color: var(--vt-c-black);
                }
            }
        }
    }

    .box-body {
        padding: 0 20px;
        position: relative;

        &.no-pagination {
            height: calc(100vh - 66px);
        }

        &:has(.form-create-chap) {
            .ant-tabs {
                overflow-y: auto;
                height: calc(100vh - 235px);
            }
        }

        &.no_padding {
            padding: 0;
        }

        .btn-save-setting {
            &:disabled {
                border-color: var(--vt-c-gray-v2);
                background-color: var(--vt-c-gray-v2);
            }
        }
    }
}
