.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 60px;
    background-color: var(--bg-main-home);

    .header-logo {
        color: var(--vt-c-white);
    }

    .header-menu {
        @extend .flex-center-between;

        &.ant-menu-light {
            background-color: transparent !important;
        }

        .ant-menu-item {
            text-overflow: unset;
            margin: 0;
        }

        .ant-menu-item-selected {
            background-color: transparent !important;
        }

        span {
            position: relative;
            padding: 8px;
            margin: 0 10px;
            @include text-style(var(--vt-c-white), 16px, 700);
            text-transform: uppercase;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: var(--vt-c-main);
                transition: all 0.3s linear;
            }

            &:hover {
                cursor: pointer;
                color: var(--vt-c-main);
                opacity: 0.9;

                &::before {
                    width: 100%;
                    transform: translate(-50%, 0);
                }
            }
        }
    }

    .header-auth {
        width: 100px;
        color: var(--vt-c-white);
        cursor: pointer;

        .avatar {
            width: 30px;
            height: 30px;
        }
    }

    @include media(mobile) {
        .header-logo {
            display: none;
        }

        .header-menu {
            display: none;
        }
    }
}

.footer {
    background-color: var(--bg-main-home);
    padding: 50px 100px;
    color: var(--vt-c-white);

    .footer-logo {
        margin-bottom: 10px;
    }

    .detail {
        line-break: anywhere;
        line-height: inherit;
    }

    @include media(mobile) {
        flex-direction: column;
        padding: 25px 40px;
    }
}

.ant-layout-body {
    &:has(.header) {
        .ant-layout-content {
            margin-top: 80px;
        }
    }

    .header-manager {
        padding: 5px 20px;
        background-color: var(--vt-c-white);
        border-bottom: 1px solid #dedcdc;

        .logo {
            width: 125px;
        }

        .anticon {
            margin: 0 20px;
            svg {
                font-size: 21px;
            }
        }
    }
}

.content-manager {
    height: 100vh;
    @include center_flex(start, space-between);

    .sidebar-menu {
        width: 200px;
        height: 100%;
        padding: 20px 12px;
        border-inline-end: 1px solid #dedcdc;

        .ant-menu-item {
            margin: 0 0 8px;

            &:hover,
            &.ant-menu-item-active {
                color: var(--vt-c-white) !important;
                background-color: var(--vt-c-primary) !important;
            }
        }

        .ant-menu-submenu {
            .ant-menu-submenu-title {
                margin: 0;
            }
        }

        .ant-menu-item-icon {
            vertical-align: middle;
        }
    }

    .ant-layout-content {
        height: 100%;
        padding: 40px;
        background-color: var(--bg-main-admin);
    }
}
