.master-data {
    .ant-tabs {
        background-color: var(--vt-c-white);

        .ant-tabs-content-holder {
            position: relative;

            .ant-spin.ant-spin-spinning {
                inset-inline-start: 50%;
                top: 20px;
            }
        }
    }

    .btn-create {
        position: absolute;
        top: 23px;
        right: 20px;
        z-index: 1;
    }
}
