.master-data {
    .ant-tabs {
        background-color: var(--vt-c-white);

        .ant-tabs-content-holder {
            position: relative;

            .ant-spin.ant-spin-spinning {
                inset-inline-start: 50%;
                top: 20px;
            }
        }
    }

    .btn-create {
        position: absolute;
        top: 23px;
        right: 20px;
        z-index: 1;
    }
}

.box-search {
    .form-search-master-data {
        .ant-form-item {
            margin-bottom: 8px !important;
        }
        .form-item-select-parent-id {
            .ant-row {
                align-items: center;
            }

            .ant-select {
                width: auto !important;
                min-width: 200px;
                max-width: 100% !important;
            }
        }
    }
}
