@mixin text-style($color: #ffffff, $fz: 18px, $fw: 300, $lh: normal) {
    color: $color;
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
}

@mixin text-shorten($numLines: 1) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: $numLines) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: $numLines;
        -webkit-box-orient: vertical;
    }
}

$start: 0;
$end: 50;
@for $i from $start through $end {
    .pl-#{$i} {
        padding-left: #{$i}px;
    }
    .pr-#{$i} {
        padding-right: #{$i}px;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }
    .pt-#{$i} {
        padding-top: #{$i}px;
    }
    .p-#{$i} {
        padding: #{$i}px;
    }
    .px-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    .py-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }
    .ml-#{$i} {
        margin-left: #{$i}px;
    }
    .mr-#{$i} {
        margin-right: #{$i}px;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }
    .mt-#{$i} {
        margin-top: #{$i}px;
    }
    .mx-#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }
    .my-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }
    .m-#{$i} {
        margin: #{$i}px;
    }
    .fz-#{$i} {
        font-size: #{$i}px;
    }
    .text-shorten-#{$i} {
        @include text-shorten(#{$i});
    }
}
$maxFontWeight: 1000;

$positions: top, left, right, bottom, none;
@each $position in $positions {
    @if $position == none {
        .bh-#{$position} {
            border-style: none !important;
        }
    } @else {
        .bh-#{$position} {
            border-#{$position}-style: hidden !important;
        }
    }
}

$positionsBox: relative, absolute, fixed, unset;
@each $position in $positionsBox {
    .pos-#{$position} {
        position: #{$position};
    }
}

$minSize: 0;
$maxSize: 500;
@for $i from $minSize through $maxSize {
    .w-#{$i} {
        width: #{$i}px;
    }
    .h-#{$i} {
        width: #{$i}px;
    }
    .vw-#{$i} {
        width: #{$i}vw;
    }
    .vh-#{$i} {
        height: #{$i}vh;
    }
    .size-#{$i} {
        width: #{$i}px;
        height: #{$i}px;
    }
}

$positionsText: start, end, right, left, center;
@each $pt in $positionsText {
    .text-#{$pt} {
        text-align: #{$pt};
    }
}

$fw: 100;
@while $fw < $maxFontWeight {
    .fw-#{$fw} {
        font-weight: $fw;
    }
    $fw: $fw + 100;
}

@mixin center_flex($align: center, $justify: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin center_pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin line_clamp($line) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin position($pos: absolute, $left: 0, $right: 0, $top: 0, $bottom: 0) {
    position: $pos;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin baseBtn(
    $bg: var(--vt-c-main),
    $width: 92px,
    $height: 36px,
    $borderRadius: var(--vt-br-btn)
) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
    height: $height;
    background-color: $bg;
    border-radius: $borderRadius;
    box-shadow: unset;
}
