:root {
    --vt-box-shadow-1: 0px 0px 8px rgba(78, 37, 0, 0.78);
    --vt-box-shadow-2: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --vt-box-shadow-box: 0 10px 20px rgb(14 44 166 / 20%);

    --vt-c-main: #3e43e9;
    --vt-c-primary: #e08c04cd;
    --vt-c-white: #ffffff;
    --vt-c-white-v2: #f2f2f2;
    --vt-c-white-v3: #f9fffb;
    --vt-c-black: #242732;
    --vt-c-gray: #7e84a3;
    --vt-c-gray-v1: #888888;
    --vt-c-gray-v2: #e9e9e9;
    --vt-c-gray-v3: #444444;
    --vt-c-gray-v4: #696969;
    --vt-c-gray-v5: #d9d9d9;
    --vt-c-blue: #0095ff;
    --vt-c-blue-v2: #1967d226;
    --vt-c-blue-v3: #3b5998;
    --vt-c-blue-v4: #0077b5;
    --vt-c-blue-v5: #1da1f2;
    --vt-c-blue-bg: #1967d2;
    --vt-c-green: #008000;
    --vt-c-green-v2: #00b14f;
    --vt-c-red: #e80000;
    --vt-c-yellow: #f9ab00;
    --vt-c-yellow-bg: #f9ab0026;
    --vt-c-border: #dedcdc;

    --bg-main-home: #13172b;
    --bg-body: #f4f5ff;
    --bg-box-item: #f3f5f7;
    --bg-head-linear: linear-gradient(90deg, #256b61, #c6c922);

    --font-size: 14px;
    --fz-title-pc: 25px;
    --fz-subtitle-pc: 18px;
    --fz-title-sp: 16px;
    --fz-subtitle-sp: 12px;
    --vt-br-btn: 5px;
    --vt-br-box: 12px;
    --max-width-pc: 1200px;

    --width-sidebar: 210px;
}
