:root {
    --vt-box-shadow-1: 0px 0px 8px rgba(78, 37, 0, 0.78);
    --vt-box-shadow-2: 0px 4px 4px rgba(0, 0, 0, 0.25);

    --vt-c-main: #d98600;
    --vt-c-white: #ffffff;
    --vt-c-black: #000000;
    --vt-c-red: red;
    --vt-c-gray: #7e84a3;
    --vt-c-blue: #0095ff;
    --vt-c-red: #e80000;

    --background-main: #13172b;
}
